<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssetGuard</title>
</head>

<body>
    <h1><a href=/>AssetGuard</a></h1>
    <h2>Targets</h2>
    <ul>
        <li>
            <a href="/list_targets">List targets</a>
        </li>
        <li>
            <a href="/add_targets">Add new targets</a>
        </li>
    </ul>

    <h2>Tools</h2>
    <ul>
        <li>
            <a href="/tools">Manage tools</a>
        </li>
    </ul>

    <h2>Run Configuration</h2>
    <ul>
        <li>
            <a href="/cmds">Set run commands</a>
        </li>
        <li>
            <a href="/scheudle">Schedule tools</a>
        </li>
    </ul>

    <h2>Logs</h2>
    <ul>
        <li><a href="/logs">View all logs</a></li>
    </ul>
</body>

</html>